@mixin button-view (){
  color: $white;
  font-size: 18px;
  font-weight: $bold;
  text-transform: $transform;
  width: 180px;
  height: 50px;
  background: transparent;
  border: 2px solid #3b3b3b;
  @include border-radius (111px);
  outline: none;
}

@mixin button-hover (){
  color: $black;
  font-size: 18px;
  font-weight: $bold;
  text-transform: $transform;
  width: 180px;
  height: 50px;
  background: $white;
  border: 2px solid $white;
  @include transition (.5s);
  @include border-radius (111px);
  outline: none;
}

@mixin button-product (){
  color: $black;
  font-size: 18px;
  font-weight: $bold;
  text-transform: $transform;
  width: 180px;
  height: 50px;
  background: transparent;
  border: 2px solid #3b3b3b;
  @include border-radius (111px);
  outline: none;
}

@mixin btn-last (){
  color: #318f76;
  font-size: 18px;
  font-weight: $bold;
  text-transform: $transform;
  width: 180px;
  height: 50px;
  background: $white;
  border: 2px solid $white;
  @include border-radius (111px);
  outline: none;
}