.main-slider .owl-carousel .owl-item img {
  display: block;
  height: auto;
  width: auto;
  margin: 0 auto;
  padding-top: 19px;
  padding-left: 3px;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #1ca8dd;
  width: 15px;
  height: 15px;
  @include border-radius (111px)
}