$fontGotham: Ghotam-Black, Helvetica, Tahoma, sans-serif;
$fontSans: OpenSans-Regular, Helvetica, Tahoma, sans-serif;
$latoBold: Lato-Bold, Helvetica, Tahoma, sans-serif;
$latoLight: Lato-Light, Helvetica, Tahoma, sans-serif;
$latoRegular: Lato-Regular, Helvetica, Tahoma, sans-serif;
$small: 14px;
$medium: 16px;
$large: 30px;
$white: #fff;
$headerGrey: #868686;
$fieldsGrey: #a9a9a9;
$mainGrey: #394b50;
$greySecond: #7b7b7b;