@media (max-width: 767px) {
    .main-slider .owl-carousel {
        background: none;
    }
    .owl-theme .owl-nav {
        margin-top: 20px;
    }
    .owl-theme .owl-dots {
        padding-bottom: 20px;
    }
    .owl-theme .owl-dots .owl-dot span {
        border: 2px solid #ffbb42;
    }
}