.happy-client {
  background-color: #ffc155;
  padding: 130px 0 140px;
  .client-subhead {
    text-align: center;
    color: $white;
    h3 {
      color: $white;
    }
  }
}

.feedback-list {
  @include display-flex;
  @include flex-direction (row);
  @include justify-content (space-between);
  @include flex-wrap (wrap);
  width: 70.5%;
  margin: 60px auto 0;
  .feedback-list-item {
    width: 48.5%;
    border-radius: 2px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 45px 0 50px 25px;
    margin-bottom: 20px;
    .photo-client {
      display: block;
      @include  border-radius (50%);
      overflow: hidden;
    }
    img {
      @include transform (scale(1.1));
      height: auto;
      width: 100%;
    }
  }
  .photo-client-container {
    float: left;
    width: 22%;
    margin-right: 20px;
  }
  .feedback-content {
    width: 70%;
    float: left;
    .text-client {
      color: $greySecond;
      font-family: $fontSans;
      font-size: $small;
      margin-bottom: 20px;
    }
    .name-client {
      color: #f6772c;
      font-family: $latoRegular;
      font-size: 14px;
      text-transform: uppercase;
    }
    .position-client {
      color: #99a9ae;
    }
  }
}