.news-letter {
  padding: 155px 0 55px;
  .news-subhead {
    text-align: center;
    p {
      font-size: $medium;
      color: $mainGrey;
      font-family: $fontSans;
    }
  }
}

.bottom-form {
  text-align: center;
  margin: 35px 0 45px;
  input {
    @include border-radius (2px);
    width: 310px;
    height: 50px;
    padding-left: 40px;
    margin: 0 5px;
    border-radius: 2px 1px 1px 2px;
    border: 1px solid #cbcbcb;
  }
  .bottom-field-name {
    background: url("../../img/bg_field_name.png") #fff 15px center no-repeat;
  }
  .bottom-field-email {
    background: url("../../img/bg_field_email.png") #fff 15px center no-repeat;
  }
  .bottom-btn-request {
    width: 210px;
    height: 50px;
    border: none;
    @include border-radius (2px);
    background-color: #ffbb42;
    color: $headerGrey;
    text-transform: uppercase;
    @include transition (0.3s);
    &:hover {
      color: $white;
    }
  }
}

.map-address {
  background: url("../../img/bg_map.png") #fff no-repeat;
  max-width: 1100px;
  padding-top: 35px;
  margin: 0 auto;
  max-height: 550px;
  min-height: 550px;
  width: 100%;
  .address {
    padding-top: 80px;
    text-align: center;
    width: 280px;
    height: 295px;
    margin: 0 auto;
    background: url("../../img/bg_address.png") no-repeat;
    .subhead-contact {
      font-family: $latoBold;
      font-size: 15px;
      text-transform: uppercase;
      color: $white;
    }
    p {
      color: #aeb7ba;
      font-family: $fontSans;
      font-size: 13px;
    }
    .email {
      font-family: $fontSans;
      font-size: 13px;
      color: #ffbb42;
    }
  }
  .logo-footer {
    text-align: center;
    .logo {
      display: inline-block;
    }
  }
}